@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FG;
    src: url("/fonts/FoundersGrotesk-Semibold.ttf");
}
@font-face {
    font-family: NU;
    src: url("/fonts/NeueMontreal-Regular.ttf");
}